namespace AdventOfCode._2023;

public class DayXX : AdventBase
{
    public override string FilePath => "./2023/DayXX.txt";

    public override async Task<AdventResult> RunInternal(TextReader reader)
    {
        string? line;
        
        while ((line = await reader.ReadLineAsync()) != null) 
        {
            
        }

        return new(string.Empty, string.Empty);
    }
}